node_modules
pnpm-debug.log*
.npmrc

# Build outputs
**/dist
**/.turbo

# VCS
.git
.gitignore

# Editor/OS
.vscode
.DS_Store

# Unused apps for backend/iot builds
apps/mobile
apps/frontend
progress
openapi

# Tests and docs (optional)
**/tests
**/docs
**/.env
.env
